.background__button {
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center center;
  border-radius: 10px;
  filter: grayscale(0.9);
  opacity: 0.8;
  transition: 0.2s;

  &_active {
    opacity: 1;
    filter: grayscale(0);
  }
}