.checkbox {
  &__container {
    position: relative;
  }

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkbox__checkmark {
      &_color {
        opacity: 1;
          transform: translateY(30%) scale(1);
      }

      &_shape {
        fill: blue;
      }
    }

    &:checked ~ .checkbox__checkmark_fav {
      width: 100px;
      height: 100px;
    }
  }

  &__checkmark {
    &_color {
      position: absolute;
      top: 0;
      left: 0;
      width: 18px;
      height: 18px;
      border: 2px solid #5f5f5f;
      border-radius: 4px;
      opacity: 0.5;
        transform: translateY(30%) scale(0.9);
      transition: 0.2s;
      cursor: pointer;
    }

    &_shape {
      fill: red;
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 40px;
      transition: 0.2s;
      cursor: pointer;
    }
  }
}

//.card__fav {
//  position: absolute;
//  top: 0;
//  right: 0;
//  transform: translate(40%, -40%);
//  width: 40px;
//  height: 40px;
//  border-radius: 4px;
//  background-color: #FFD600;
//  background-image: url("http://localhost:3000/images/filters/unlike.png");
//  background-size: 70%;
//  background-repeat: no-repeat;
//  background-position: center center;
//  &:checked{
//    background-image: url("http://localhost:3000/images/filters/like.png");
//  }
//}