@import "src/style-dev/vars";

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $red;
  gap: 20px;

  &__text {
    margin: 0 20px;
    background: none;
    border: 3px solid white;
    border-radius: 20px;
    color: white;
    padding: 1em;
    font-size: 23px;
    text-align: center;
  }

  &__tree {
    animation: showTree 1s ease-in-out forwards;
    position: absolute;
    top: 60px;
    width: 75px;
    height: 75px;
    background-image: url("http://localhost:3000/images/home/christmas-tree.png");
    background-position: center center;
    background-size: cover;

    &:before {
      content: '';
      animation: none;
      display: block;
      position: absolute;
      top: -80px;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      background: white;
    }
  }

  .tree1 {
    left: 20px;
  }

  .tree2 {
    animation-delay: 0.2s;
    right: 20%;
  }

  .tree3 {
    animation-delay: 0.1s;
    right: 50px;

  }

  &__ground {
    position: absolute;
    bottom: 0;
    transform: translateY(23%);
    width: 70%;
    height: 100%;
    background: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;

    &__wrapper {
      overflow-y: hidden;
      bottom: 0;
      position: absolute;
      width: 100%;
      height: 25%;
    }

    &_left {
      animation: showGround 0.5s;
      z-index: 1;
      border-top-right-radius: 200%;
    }

    &_right {
      animation: showGround 0.5s 0.1s;
      right: 0;
      border-top-left-radius: 200%;
    }
  }
}

@media screen and (min-width: 1024px) {
  .home {
    &__text{
      font-size: 27px  ;
    }
    &__tree {
      width: 150px;
      height: 150px;
    }

    &__ground__wrapper {
      height: 35%;
    }
  }
}

@media screen and (min-width: 1920px) {
  .home {
    &__tree {
      width: 250px;
      height: 250px;
    }

  }
}

@keyframes showGround {
  0% {
    transform: translateY(123%);
  }
  60% {
    transform: translateY(13%);
  }
  100% {
    transform: translateY(23%);
  }
}

@keyframes showTree {
  0% {
    filter: drop-shadow(0 0 0 #000);
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(10%) scale(1.05);
  }
  60% {
    filter: drop-shadow(20px 0px 3px #000);
  }
  100% {
    filter: drop-shadow(8px 0px 3px #000);
    transform: translateY(0);
  }
}