@import "src/style-dev/vars";

.card__wrapper {
  position: relative;
  max-width: 1400px;
  padding-right: 20px;
  padding-top: 40px;
  padding-left: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px 30px;
}

.header {
  margin-top: 55px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background: #f7f7f7;
  box-shadow: 3px 0 3px 3px #b4b4b4;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: $red;
}


