@import "src/style-dev/vars";

.header {
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background: white;
  padding: 15px 0 15px 25px;
  font-family: 'Carter One', cursive;
  color: $red;
  font-size: 25px;
  box-shadow: 0 2px 4px 1px #a1a1a1;
  &__list{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}