.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 65px;
  gap: 20px;
}

@media screen and (min-width: 1440px) {
  .game {
    height: 100vh;
    justify-content: space-around;
    align-items: start;
    flex-direction: row;
    overflow-y: hidden;
  }
}