@import '../../../style-dev/vars.scss';
.checked{
  fill: $red;
  transition: 0.2s;
}
.bro{
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  background-size: cover;
  transition: 0.2s;
  cursor: pointer;
}